/* ------Hero----- */

.header-wrap {
    width: 100%;
    height: 600px;
    color: #fff;
    background-image: url(../images/compressed/background.jpg);
    background-image: url(../images/compressed/space-hero.jpg);
    background-size: cover;
    background-position: center;
}

.header-text {
    max-width: 1000px;
    height: 100%;
    margin-inline: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

.header-text .intro-left {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    background-color: #02060794;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.header-text .intro-left h1 {
    font-size: var(--font-size-lg);
}

.header-text .intro-left p {
    font-size: var(--font-size-md);
}

.header-text .intro-left i {
    font-size: var(--font-size-xl);
}

.header-text .platform-logos {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.header-text .intro-right {
    font-size: var(--font-size-md);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    background-color: #02060794;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}

.header-text .intro-right h2{
    font-size: var(--font-size-lg);
    margin-bottom: 0;
}

.header-text .intro-right ul {
    text-align: left;
    margin-inline-start: 1.5rem;
}

/* ------Intro Section----- */

.text-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.25em;
    text-align: center;
}

.text-group h1 {
    font-size: var(--font-size-xl);
    margin-bottom: 0.5rem;
}

.header {
    padding: 1rem;
}

.header p {
    color: var(--text-color-2);
    font-style: italic;
    font-size: var(--font-size-md);
}

.intro a {
    color: var(--accent-color);
}

.text-group span {
    color: var(--accent-color);
}

.intro {
    max-width: 700px;
    padding: 1rem;
}

.intro p {
    font-size: var(--font-size-base);
    text-align: justify;
}

/* --------Titles--------- */

h1.sub-title {
    font-size: var(--font-size-xl);
    font-style: italic;
    color: #2a2929;
    margin: 1rem;
    text-align: center;
}

h2.sub-title {
    font-size: var(--font-size-xxxl);
    font-style: italic;
    color: #2a2929;
    margin: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}

.container-contact h1.sub-title {
    font-size: 2rem;
    font-style: normal;
    color: #fff;
    margin: 1rem 0;
    text-align: left;
}


/* ---------------services---------------- */
#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    color: var(--text-color);
    margin-top: 50px;
}

.services-list .services-card {
    background: var(--dark-accent);
    color: #fff;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-card {
    margin: 1rem;
}

.services-card .head {
    display: flex;
    justify-content: space-between;
}

.services-card p {
    text-align: justify;
    font-size: var(--font-size-base);
}

.services-list div i {
    font-size: 2rem;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    color: var(--accent-color);
    font-size: 0.9rem;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: var(--accent-color);
    transform: translateY(-10px);
    color: #080808;
}

.services-list div:hover .left-border::before {
    background: #fff;
}

.services-list div:hover a {
    color: #080808;
}


/* ------------------clients------------------- */

.client-wrap {
    padding-block: 2rem;
    position: relative;
    z-index: 99;
    padding-inline: 0.55rem;
}

.client-wrap .client-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin-inline: auto;
    column-gap: 3rem;
    row-gap: 3rem;
}

.client-wrap img {
    max-width: 80px;
}

.client-wrap .bsi {
    max-width: 60px;
}

.client-wrap .peak {
    max-width: 85px;
    border-radius: 50%;
    background-color: #fff;
}

.client-wrap .shams {
    max-width: 90px;
}

/* ------------------about------------------- */

.about-wrapper{
    max-width: 1500px;
    margin-inline: auto;
    padding: 4rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 1rem;
    column-gap: 1rem;
}

.about-wrapper .about-left .text-wrap{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.about-wrapper .about-left .text-wrap h3{
    font-size: var(--font-size-xl);
}

.about-wrapper .about-left .text-wrap p{
    font-size: var(--font-size-md);
    text-align: center;
}

.about-wrapper .about-left .text-wrap a{
    font-size: var(--font-size-md);
}

.about-wrapper .about-right img{
    max-width: 500px;
    width: 100%;
    border-radius: 0.5rem;
}

