* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* -------Project Container----- */

.project-wrapper {
    background-color: var(--background-color);
    padding: 0 0.5rem;
}

.project-container {
    max-width: 1200px;
    margin-block: 3rem;
    margin-inline: auto;
}

/* -------Project NavBar----- */


.project-container .title-bar {
    background-color: var(--dark-accent);
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px solid #4b4b4b;
    position: relative;
    height: 80px;
    z-index: 99;
}

.project-container .icon-wrap ul {
    list-style-type: none;
    display: flex;
    padding-bottom: 0.25rem;
    justify-content: center;
}

.project-container .icon-wrap {
    width: 400px;
    margin-inline: auto;
    position: relative;
}

/* -------Project Icons----- */

.project-container .title-bar .project {
    position: relative;
    z-index: 9;
}

.project-container .title-bar .project a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: unset;
}

.project-container .title-bar .project span {
    margin-top: 0.5rem;
}

.project-container ul li a .title {
    font-size: 0.8rem;
    color: #a49f9f;
    max-width: 150px;
    position: absolute;
    bottom: -5px;
    transition: 0.5s;
    opacity: 0;
}

.project-container .title-bar img {
    height: 40px;
    transition: 0.5s;
}

.project-container .title-bar .peakicon img {
    height: 60px;
    transition: 0.5s;
    transform: translateY(-8px);
}

.project-container .title-bar .shamsicon img {
    height: 50px;
    transition: 0.5s;
    transform: translateY(-6px);
}

/* -------Active Icon----- */

.project-container ul li.active a img {
    transform: translateY(-33px);
}

.project-container ul li.active .peakicon img {
    transform: translateY(-42px);
}

.project-container ul li.active .shamsicon img {
    transform: translateY(-37px);
}

.project-container ul li.active a .title {
    opacity: 1;
    transform: translateY(-7px);
}

/* -------Project Indicator----- */

.project-container .indicator {
    position: absolute;
    z-index: 5;
    left: 0;
    top: -50%;
    width: 80px;
    height: 80px;
    background: #313235;
    border-radius: 50%;
    border: 6px solid var(--background-color);
    transition: 0.5s;
}

.project-container .indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--background-color);
}

.project-container .indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--background-color);
}

.project-container ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(80px * 0));
    background: #d8d1d1;
}

.project-container ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(80px * 1));
    background: #0c2117;
}

.project-container ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(80px * 2));
    background: #5a0505;
}

.project-container ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(80px * 3));
    background: #0a1c53;
}

.project-container ul li:nth-child(5).active~.indicator {
    background: #1a1d27;
    transform: translateX(calc(80px * 4));
}

/* ------Responsive ProjectNav------ */

@media only screen and (max-width: 500px) {

    .project-container .title-bar {
        height: 60px;
    }

    .project-container .title-bar .project a {
        width: 60px;
        height: 60px;
    }

    .project-container .indicator {
        position: absolute;
        z-index: 5;
        left: 0;
        top: -50%;
        width: 60px;
        height: 60px;
    }

    .project-container .icon-wrap {
        width: 300px;
    }


    .project-container ul li:nth-child(1).active~.indicator {
        transform: translateX(calc(60px * 0));
    }

    .project-container ul li:nth-child(2).active~.indicator {
        transform: translateX(calc(60px * 1));
    }

    .project-container ul li:nth-child(3).active~.indicator {
        transform: translateX(calc(60px * 2));
    }

    .project-container ul li:nth-child(4).active~.indicator {
        transform: translateX(calc(60px * 3));
    }

    .project-container ul li:nth-child(5).active~.indicator {
        transform: translateX(calc(60px * 4));
    }

    .project-container .title-bar img {
        height: 30px;
    }

    .project-container ul li.active a img {
        transform: translateY(-27px);
    }

    .project-container .title-bar .peakicon img {
        height: 50px;
        transition: 0.5s;
        transform: translateY(-8px);
    }

    .project-container ul li.active .peakicon img {
        transform: translateY(-36px);
    }

    .project-container ul li.active .shamsicon img {
        transform: translateY(-30px);
    }

    .project-container .title-bar .shamsicon img {
        height: 40px;
    }

}


/* -------Project Detail------ */

.project-detail {
    display: none;
    padding: 5px;
    padding-top: 20px;
}

.project-detail.active {
    width: 100%;
    background-color: #3d3a3a;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;
    grid-auto-rows: minmax(auto, auto);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

/* -------Project Title------ */

.project-detail .project-title {
    grid-column: 1 / 7;
    grid-row: 1;
    text-align: center;
    font-size: 1.6rem;
}

.project-detail .project-title h3 {
    margin-block: 0.75rem;
    color: white;
}

.project-detail .project-title h5 {
    color: var(--accent-color);
    font-size: 1.3rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

.project-detail .project-title h4 {
    font-style: italic;
    color: #8a8c91;
    margin-bottom: 0.75rem;
}

/* -------Project Tabs------ */

.project-tabs {
    grid-column: 1 / 7;
    grid-row: 2/4;
}

.project-tabs ul.head {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.project-tabs a {
    padding: 0.25rem 0.5rem;
    color: unset;
    text-decoration: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #8a8c91;
    transition: all 0.25s ease-in-out;
}

.project-tabs a.active {
    background-color: #323232;
    color: #fff;
}

.project-tabs a::after {
    transition: all 0.25s ease-in-out;
    content: '';
    position: relative;
    display: block;
    height: 3px;
    background-color: var(--accent-color);
    width: 0%;
    bottom: -5px;
}

.project-tabs a.active::after {
    width: 50%;
}

/* -------Tab Detail------ */

.project-detail .tab-detail {
    display: none;
}

.project-detail .tab-detail.active {
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #323232;
    border-radius: 5px;
    color: white;
}

.tab-detail.testimonial {
    align-items: center;
}

/* ------About Section------ */

.project-detail .tab-detail p.about {
    margin-top: 1rem;
    margin-left: 20px;
    position: relative;
}

.project-detail .tab-detail p.about::before {
    display: block;
    content: '';
    position: absolute;
    width: 3px;
    background-color: var(--accent-color);
    height: 90%;
    top: 5%;
    left: -15px;
}

/* ------Features Section------ */

.project-detail .tab-detail ul {
    list-style-type: none;
}

.project-detail .tab-detail li {
    margin-block: 0.5rem;
}

.project-detail .tab-detail i {
    font-size: 1rem;
    margin-inline: 0.5rem;
    color: var(--accent-color);
}

/* ------Testimonial Section------ */

.project-detail .testimonial i {
    font-size: 3rem;
}

.project-detail .testimonial p.quote {
    text-align: center;
    position: relative;
    padding-block: 1rem;
    padding-bottom: 1.5rem;
    padding-inline: 0.5rem;
}

.project-detail .testimonial p.quote::after {
    display: block;
    content: '';
    position: absolute;
    width: 30%;
    background-color: var(--accent-color);
    height: 3px;
    bottom: 0;
    left: 35%;
}

.project-detail .testimonial p.author {
    margin-top: 0.75rem;
}

.project-detail .testimonial p.occupation {
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 0.25rem;
}

/* ------Hero Section------ */

.project-hero {
    grid-column: 7 / 13;
    grid-row: 1 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-hero img {
    max-width: 100%;
    border-radius: 5px;
}


.two {
    grid-column: 1 / 7;
    grid-row: 4;
}

.project-detail .cta {
    grid-column: 1 / 7;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ------Responsive Project Detail------ */

@media only screen and (max-width: 1000px) {

    .project-container {
        max-width: 800px;
    }

    .project-detail .project-title {
        grid-column: 1 / 13;
        grid-row: 1;
    }

    .project-tabs {
        grid-column: 1 / 13;
        grid-row: 2;
    }

    .project-hero {
        grid-column: 1 / 13;
        grid-row: 3;
    }

    .project-detail .cta {
        grid-column: 1 / 13;
        grid-row: 4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-detail .tab-detail.active {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .project-hero img {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

}

/* --------Buttons-------- */

button:hover {
    cursor: pointer;
}

button.effect {
    background: none;
    border: 2px solid;
    font: 1rem;
    line-height: 1;
    margin: 1rem;
    padding: 0.5em 1em;
}

button.effect {
    background-color: var(--accent-color);
    color: #fff;
    transition: 0.35s;

    &:hover,
    &:focus {
        cursor: pointer;
        border-color: var(--foreground);
        color: var(--foreground);
    }
}

/* Animate from the left */

button.effect.slide:hover,
button.effect.slide:focus {
    box-shadow: inset 12em 0 0 0 #0c606d;
    color: var(--background);
}

button.effect.light.slide:hover,
button.effect.light.slide:focus {
    box-shadow: inset 12em 0 0 0 #0c606d;
    color: var(--background);
}