* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: calc(15px + 0.390625vw);
}
body {
    background: var(--background-color);
    color: var(--text-color);
    --accent-color: #42033c;
    --background-color: white;
    --text-color: black;
    --dark-accent: #ababab;
    --button-text-color: var(--background-color);
    --transition-delay: 1s;
    transition: var(--transition-delay);
}
body.dark{
    --accent-color: #69D1C5;
    --background-color: #080808;
    --text-color: white;
    --text-color-2: #ababab;
    --dark-accent: #262626;

}


/* ------------Header--------- */

.container {
    padding: 10px 10px;
    background-color: #080808;
}
#header{
    position: sticky;
    top: 0;
    z-index: 3;
    height: 10vh;
}
nav {
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    width: 70px;
}
.logo-name{
    width: 150px;
}

/* -------------Burger------------ */

.row-burger{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.burger-icon {
    width: 40px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.burger-icon::before,
.burger-icon::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.burger-icon::before {
    transform: translateY(-13px);
}
.burger-icon::after {
    transform: translateY(13px);
}
/* ----------Burger-Animation--------- */
.row-burger.open {
    overflow: visible;
}

.row-burger.open .burger-icon {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.row-burger.open .burger-icon::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.row-burger.open .burger-icon::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* ----------Drop Menu----------- */

.drop-menu{
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    background-color: var(--background-color);
    color: var(--text-color);
}
.drop-menu.open{
    margin: 0;
    height: 70vh;
    overflow: hidden;
    padding: 0.5rem;
}
.drop-menu ul{
    list-style: none;
    margin: 0;
}
.drop-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.drop-list a{
    color: var(--accent-color);
    font-size: 1.25rem;
    text-decoration: none;
}
.drop-list li{
    text-align: center;
    padding: 0.35rem;
}
.social-links{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
}
.social-links i{
    color: var(--accent-color);
    font-size: 1.5rem;
    padding: 1rem 1rem 0rem 1rem
}

/* ----------Dark/Light-------- */

.theme-toggle-button{
    background-color: var(--accent-color);
    color: var(--button-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 2rem;
    padding: .5em 1em;
    border-radius: .3em;
    border: none;
    outline: none;
    transition: var(--transition-delay);
    transform: scale(1);
}
.theme-toggle-button .icon{
    margin-right: .5em;
}
.theme-toggle-button:hover,
.theme-toggle-button:focus{
    transform: scale(1.1);
}
.sun-moon-container{
    --rotation: 0;
    position: absolute;
    top: 0;
    height: 75vmin;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(calc(var(--rotation) * 1deg));
    transition: transform var(--transition-delay);
}
.sun,
.moon{
    position: absolute;
    transition: opacity, fill, var(--transition-delay);
    width: 30px;
    height: 30px;
    fill: var(--accent-color);
}
.sun{
    bottom: 5%;
    opacity: 1;
}
.dark .sun{
    opacity: 0;
}
.moon{
    top: 5%;
    opacity: 0;
}
.dark .moon{
    opacity: 1;
}

/* ------------------------ */
.header-text{
    width: 100%;
    height: 90vh;
    background-image: url(images/compressed/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.text-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.25em;
    text-align: center;
}
.header{
    padding: 1rem;
}
.header p{
    color: var(--text-color-2);
    font-style: italic;
}
.intro a{
    color: var(--accent-color);
}
.text-group span{
    color: var(--accent-color);
}
.intro{
    max-width: 500px;
    padding: 1rem;
}
.intro p{
    font-size: 0.9rem;
    text-align: justify;
}
/* <!-- -------------about------------- --> */
#about{
    padding: 20px 0;
    /* color: var(--secondary); */
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about-col-1 img{
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 15px;
}
.about-col-2{
    text-align: justify;
    max-width: 500px;
    padding: 1rem;
}
.about-col-2 p{
    font-size: 0.8rem;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    font-size: 0.7rem;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: var(--accent-color);
    font-size: 0.8rem;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ---------------services---------------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    color: var(--text-color);
    margin-top: 50px;
}
.services-list div{
    background: var(--dark-accent);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-card{
    margin: 1rem;
}
.services-card p{
    text-align: justify;
}
.services-list div i{
    font-size: 3.5rem;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    color: var(--text-color);
    font-size: 0.9rem;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: var(--accent-color);
    transform: translateY(-10px);
    color: var(--background-color);
}
.services-list div:hover a{
    color: var(--background-color);
}
/* ------------------portfolio------------------- */
#portfolio{
    padding: 50px 0;
}
h1.sub-title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-gap: 40px; */
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 1rem;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), var(--accent-color));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    color: #fff;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--accent-color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--accent-color);
    transition: background 0.5s;
}
.btn:hover{
    background: var(--text-color-2);
}

/* ------------------------contact------------------- */

.contact-left{
    flex-basis: 30%;
    min-width: 265px;
}
.contact-left .sub-title{
    text-align: start;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: var(--accent-color);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--accent-color);
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: var(--primary);
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: var(--background-color);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 90%;
    border: 0;
    outline: none;
    background: var(--dark-accent);
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--dark-accent);
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: var(--primary);
}



/* --------------------------css for small screens------------------ */
nav .fa-solid{
    display: block;
    font-size: 25px;
}
nav ul{
    background: var(--primary);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}
nav ul li{
    display: block;
    margin: 25px;
}
nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    #header{
    }
    .header-text{
        background-image: url(images/compressed/Rainbow\ Landscapes\,\ Peru.jpg);
    }
    .sun-moon-container{
        height: 200vmin;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .contact-left .sub-title{
        text-align: center;
    }
    .contact-left{
        text-align: center;
    }
    .contact-right form{
        text-align: center;
    }
    .copyright{
        font-size: 14px;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}