* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: calc(15px + 0.390625vw);
}

/* body {
    background: var(--background-color);
    color: var(--text-color);
    --accent-color: #42033c;
    --background-color: white;
    --text-color: black;
    --dark-accent: #ababab;
    --button-text-color: var(--background-color);
    --transition-delay: 1s;
    transition: var(--transition-delay);
}
body.dark{
    --accent-color: #69D1C5;
    --background-color: #080808;
    --text-color: white;
    --text-color-2: #ababab;
    --dark-accent: #262626;
} */
body {
    background: var(--background-color);
    color: var(--text-color);
    --accent-color: #69D1C5;
    --background-color: #080808;
    --text-color: white;
    --text-color-2: #ababab;
    --dark-accent: #262626;
    --button-text-color: var(--background-color);
    --transition-delay: 1s;
    transition: var(--transition-delay);
}

body.light {
    --text-color: #080808;
    --text-color-2: #312f2f;
    --accent-color: #CD533B;
    --background-color: #ababab;
    --dark-accent: #312f2f;
}


/* ------------Header--------- */

.container {
    padding: 10px 10px;
    background-color: #080808;
}

#header {
    position: sticky;
    top: 0;
    z-index: 3;
    height: 10vh;
}

nav {
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 70px;
}

.logo-name {
    width: 150px;
}

/* -------------Burger------------ */

.row-burger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin: 0 1rem;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.burger-icon {
    width: 30px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.burger-icon::before,
.burger-icon::after {
    content: '';
    position: absolute;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.burger-icon::before {
    transform: translateY(-13px);
    width: 40px;
}

.burger-icon::after {
    transform: translateY(13px);
    width: 40px;
}

/* ----------Burger-Animation--------- */
.row-burger.open {
    overflow: visible;
}

.row-burger.open .burger-icon {
    transform: translateX(0px);
    background: transparent;
    box-shadow: none;
}

.row-burger.open .burger-icon::before {
    transform: rotate(-135deg) translate(0, 0);
    width: 40px;
}

.row-burger.open .burger-icon::after {
    transform: rotate(135deg) translate(0, 0);
    width: 40px;
}

/* ----------Drop Menu----------- */

.drop-menu {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    background-color: var(--background-color);
    color: var(--text-color);
}

.drop-menu.open {
    margin: 0;
    height: 70vh;
    overflow: hidden;
    padding: 0.5rem;
}

.drop-menu ul {
    list-style: none;
    margin: 0;
}

.drop-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop-list a {
    color: var(--accent-color);
    font-size: 1.25rem;
    text-decoration: none;
}

.drop-list li {
    text-align: center;
    padding: 0.35rem;
}

.social-links {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
}

.social-links i {
    color: var(--accent-color);
    font-size: 1.5rem;
    padding: 1rem 1rem 0rem 1rem
}

/* ----------Dark/Light-------- */

.theme-toggle-button {
    background-color: var(--accent-color);
    color: var(--button-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 2rem;
    padding: .5em 1em;
    border-radius: .3em;
    border: none;
    outline: none;
    transition: var(--transition-delay);
    transform: scale(1);
}

.theme-toggle-button .icon {
    margin-right: .5em;
}

.theme-toggle-button:hover,
.theme-toggle-button:focus {
    transform: scale(1.1);
}

.sun-moon-container {
    --rotation: 0;
    position: absolute;
    top: 0;
    height: 75vmin;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(calc(var(--rotation) * 1deg));
    transition: transform var(--transition-delay);
}

.sun,
.moon {
    position: absolute;
    transition: opacity, fill, var(--transition-delay);
    width: 30px;
    height: 30px;
    fill: var(--accent-color);
}

.sun {
    bottom: 5%;
    opacity: 0;
}

.light .sun {
    opacity: 1;
}

.moon {
    top: 5%;
    opacity: 1;
}

.light .moon {
    opacity: 0;
}

/* ------------------------ */
.header-text {
    width: 100%;
    height: 90vh;
    background-image: url(images/compressed/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.text-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.25em;
    text-align: center;
}

.header {
    padding: 1rem;
}

.header p {
    color: var(--text-color-2);
    font-style: italic;
}

.intro a {
    color: var(--accent-color);
}

.text-group span {
    color: var(--accent-color);
}

.intro {
    max-width: 500px;
    padding: 1rem;
}

.intro p {
    font-size: 0.9rem;
    text-align: justify;
}

/* --------Titles--------- */

h1.sub-title {
    font-size: 4rem;
    font-style: italic;
    color: #2a2929;
    margin: 1rem;
    text-align: center;
}

.container-contact h1.sub-title {
    font-size: 2rem;
    font-style: normal;
    color: #fff;
    margin: 1rem 0;
    text-align: left;
}





/* <!-- -------------about------------- --> */
#about {
    padding: 20px 0;
    /* color: var(--secondary); */
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-col-1 img {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 15px;
}

.about-col-2 {
    max-width: 500px;
    width: 100%;
    padding: 1rem;
}

.about-col-2 h2{
    font-size: 1.5rem;
}

.about-col-2 p.summary{
    font-size: 0.8rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.bio-wrap h4 {
    margin-block: 0.5rem;
    font-size: 0.8rem;
    color: #fff;
}

.bio-wrap .detail-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--dark-accent);
    padding-inline: 1rem;
    border-radius: 0.5rem;
    margin: 0.25rem;
}

.bio-wrap .detail-top:hover{
    border: 1px solid var(--accent-color);
}

.bio-wrap .toggle-button{
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-wrap .toggle-button::before,
.bio-wrap .toggle-button::after{
    content: '';
    position: absolute;
    background: var(--accent-color);
    border-radius: 0.5rem;
    width: 80%;
    height: 2px;
    transition: all 0.3s ease-in;
}

.bio-wrap .toggle-button::before{
    transform: rotate(90deg);
}

.bio-wrap .toggle-button::after{
    transform: rotate(0deg);
}

.bio-wrap .toggle-button.open::before{
    transform: rotate(360deg);
}

.bio-wrap .toggle-button.open::after{
    transform: rotate(-180deg);
}

.bio-wrap .bio-detail p {
    pointer-events: none;
    opacity: 0;
    font-size: 0.1rem;
    padding-left: 1rem;
    text-align: justify;
    transition: all 0.3s ease-in;
}

.bio-wrap .bio-detail.open p {
    opacity: 1;
    margin: 0.5rem;
    font-size: 0.8rem;
    text-align: justify;
}

.container-about .left-border::before {
    left: 0;
    top: 5%;
    background: var(--accent-color);
    height: 90%;
    width: 1px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    font-size: 0.7rem;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: var(--accent-color);
    font-size: 0.8rem;
}

.tab-contents {
    display: none;
}

.tab-contents a{
    color: var(--text-color);
}

.tab-contents a:hover{
    color: var(--accent-color);
}

.tab-contents.active-tab {
    display: block;
}

/* ---------------services---------------- */
#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    color: var(--text-color);
    margin-top: 50px;
}

.services-list .services-card {
    background: var(--dark-accent);
    color: #fff;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-card {
    margin: 1rem;
}

.services-card .head{
    display: flex;
    justify-content: space-between;
}

.services-card p {
    text-align: justify;
}

.services-list div i {
    font-size: 2rem;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    color: var(--accent-color);
    font-size: 0.9rem;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: var(--accent-color);
    transform: translateY(-10px);
    color: #080808;
}

.services-list div:hover .left-border::before {
    background: #fff;
}

.services-list div:hover a {
    color: #080808;
}

/* -------Photography------- */

.spikes {
    position: relative;
    background: linear-gradient(to right, #fdc830, #f37335);
    color: #080808;
    margin: 3rem 0;
    padding-block: 3rem;
    /* padding-inline: 1rem; */
}

.photography-wrap {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin-inline: auto;
}

.photography-wrap .text-wrap {
    max-width: 600px;
    width: 100%;
    margin: 2rem 1rem;
}

.photography-wrap .text-wrap img{
    max-width: 120px;
    width: 25%;;
    margin: 0.5rem;
}

.container-photography .samples {
    text-align: center;
}

.container-photography h2 {
    margin-bottom: 1rem;
    font-size: 1.9rem;
}

.container-photography p {
    margin-bottom: 1rem;
    text-align: justify;
}

.container-photography img {
    max-width: 400px;
    margin: 1rem;
    width: 90%;
    border-radius: 0.5rem;
    border: 1px solid var(--background-color);
    box-shadow: 0.3rem 0.3em 0.5rem rgb(23, 42, 58, 0.7);

}



/* ------------------portfolio------------------- */

.project-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.container-project {
    padding: 1rem;
    /* margin: 0.5rem; */
    border-radius: 1rem;
    max-width: 350px;
    /* min-width: 150px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-project img,
h2,
h6 {
    margin-bottom: 0.5rem;
}

.container-project h4 {
    margin-bottom: 0.25rem;
}

.container-project h6 {
    font-style: italic;
    align-self: flex-start;
}

.git-read {
    font-size: 0.7rem;
    color: var(--accent-color);
    margin-bottom: 0.5rem;
    align-self: flex-start;
}

#portfolio img {
    max-width: 100%;
    border-radius: 0.5rem;
}

.container-project button {
    margin: 0.5rem;
    display: inline;
    padding: 0.25rem 0.5rem;
    background-color: var(--accent-color);
    border: 1px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
    border-radius: 0.5rem;
}

.container-project button:hover {
    font-size: 0.7rem;
    transition: 0.5s;
}

.contain-btns a {
    text-decoration: none;
    color: var(--background-color);
}

.proj-detail {
    color: var(--accent-color);
}

.container-project h4 {
    align-self: flex-start;
}

.container-project p {
    text-align: justify;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
}

/* ------------------------contact------------------- */

.contact-left {
    flex-basis: 30%;
    min-width: 265px;
}

.contact-left .sub-title {
    text-align: start;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: var(--accent-color);
    margin-right: 15px;
    font-size: 25px;
}


.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--accent-color);
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: var(--primary);
    transform: translateY(-5px);
}

.container-contact .contact-left a {
    margin: 1rem 0.5rem 0rem 0;
    color: var(--accent-color);
}

.btn.btn2 {
    display: inline-block;
    background: var(--background-color);
}

.contact-right .btn.btn2 {
    display: block;
    background: var(--background-color);
    color: var(--accent-color);
    border: 2px solid;
    margin: 40px 15px;
}

.btn.btn2:hover {
    background: var(--accent-color);
    color: var(--background-color);
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 90%;
    border: 0;
    outline: none;
    background: var(--dark-accent);
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/* --------Footer------- */

.footer {
    background: var(--dark-accent);
    color: white;
    padding: 1rem 1rem 0 1rem;
    margin-top: 2rem;
    font-size: 0.8rem;
}

.footer a {
    color: var(--accent-color);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.top-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.footer .footer-logo {
    width: auto;
    max-width: 400px;
    margin: 1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-logo img {
    max-width: 33%;
    margin: 0 1rem;
}

.footer .text-wrap {
    padding: 0 1rem;
}

.left-border {
    text-align: justify;
    position: relative;
}

.left-border::before {
    content: '';
    position: absolute;
    display: block;
    left: -1rem;
    top: 5%;
    background: var(--accent-color);
    height: 90%;
    width: 1px;
}

.footer-services .left-border::before,
.portfolio .left-border::before {
    background: white;
}

.footer .text-wrap h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.footer .text-wrap p {
    font-size: 0.7rem;
}

.footer .footer-services,
.portfolio {
    margin: 1rem 0.5rem;
}

.footer ul {
    list-style: none;
    margin-top: 0.5rem;
}

.footer-socials {
    text-align: center;
    margin: 1rem 1rem 0 1rem;
    font-size: 1.3rem;
    padding: 1rem 0;
    border-top: 1px solid var(--background-color);
}

.footer-socials .wrapper {
    max-width: 320px;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    border-top: 1px solid var(--background-color);
}

.copyright i {
    color: var(--accent-color);
}



/* --------------------------css for small screens------------------ */
nav .fa-solid {
    display: block;
    font-size: 25px;
}

nav ul {
    background: var(--primary);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}

nav ul li {
    display: block;
    margin: 25px;
}

nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}

@media only screen and (max-width: 750px) {

    .diagonal {
        padding-block: 2rem;
    }

    .photography-wrap {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px) {

    .header-text {
        background-image: url(images/compressed/Rainbow\ Landscapes\,\ Peru.jpg);
    }

    .sun-moon-container {
        height: 200vmin;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .contact-left .sub-title {
        text-align: center;
    }

    .contact-left {
        text-align: center;
    }

    .contact-right form {
        text-align: center;
    }

    .copyright {
        font-size: 14px;
    }
}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}